body {
    margin: 0;
    padding: 0;
}

.content {
    padding: 12px;
}


header {
    background-color: gray;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header a {
    color: inherit;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}