/* https://stackoverflow.com/questions/2225585/how-to-change-a-div-padding-without-affecting-the-width-height */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

header {
    background-color: gray;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: inherit;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}