.container {
    display: flex;
    gap: 20px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
}

thead {
    background-color: silver;
}

img {
    max-width: 100px;
    max-height: 100px;
}