table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    white-space: nowrap;
}
img {
    max-width: 100px;
    max-height: 100px;
}