.container {
    display: flex;
    gap: 20px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
}

.dataTable-container {
    height: 90vh;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    border: 8px groove black;
}

.dataTable-container thead th {
    background-color: silver;
    position: sticky;
    top: 0;
    z-index: 10;
    white-space: nowrap;
}

img {
    max-width: 100px;
    max-height: 100px;
}