{% extends "header.html" %}

{% block title %}S&C POD | Images{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block content %}
    {% if data is none %}
        <p>No data available. Please upload a TSV file.</p>
    {% else %}
        <div id="printarea">
            {% for item in data %}
            {% for i in range(item.quantity) %}
            <div>
                <div class="image-container" style="gap: 3mm;">
                    <div class="{{ item.shape }}">
                        <img src="{{ item.image1 }}">
                    </div>
                    {% if item.image2 is not none %}
                    <div class="{{ item.shape }}">
                        <img src="{{ item.image2 }}">
                    </div>
                    {% endif %}
                </div>
                <p>{{ item.shape }}</p>
                <p>{{ item.id }}</p>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}