<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}S&C POD{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>

<body style="margin: 0;">
    <header>
        <a href="/"><h1 style="margin: 0;">S&C POD</h1></a>
        <nav>
            <a href="/table">Table</a> |
            <a href="/gallery">Gallery</a>
        </nav>
    </header>
    <div style="padding: 12px;">
        {% block content %}{% endblock %}
    </div>
</body>

</html>